header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(./image/image2.png);
  padding: 1px;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  background-color: #f0f0f0;
  max-width: 1440px;
}

.position_nav {
  display: flex;
  justify-content: space-between;
  margin-left: 92px;
  margin-top: 44px;
  margin-right: 70px;
}

.diversfood {
  font-family: "Open+Sans";
  font-size: 36px;
  color: rgb(255, 255, 255);
}

a {
  font-family: "Lato";
  text-decoration: none;
}

.a_menu {
  font-size: 24px;
  margin-left: 15px;
  color: rgb(255, 255, 255);
}

.inputheader {
  margin-top: 90px;
  margin-left: 92px;
  margin-bottom: 50px;
}

h1 {
  font-family: "Lato";
  font-size: 170px;
  font-weight: bold;
  color: rgb(0, 168, 144);
  margin-bottom: 30px;
}

button {
  background-color: rgb(0, 168, 144);
  color: rgb(255, 255, 255);
  font-family: "Lato";
  font-size: 24px;
  margin-top: 20px;
}

.button1 {
  width: 270px;
  height: 65px;
  border-radius: 50px;
}

p {
  font-family: "Lato";
  font-size: 20px;
}

.p1 {
  color: rgb(255, 255, 255);
}

h2 {
  font-family: "Open+Sans";
  font-size: 96px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin: 0;
}

.diversfood_position {
  display: flex;
}

section {
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 177px;
  margin-bottom: 90px;
}

h3 {
  font-family: "Lato";
  font-size: 64px;
  font-weight: 600;
  color: rgb(0, 168, 144);
}

#img2 {
  width: 479px;
  height: 620px;
}

.position_text_section1 {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 92px;
}

.button2 {
  margin: 0;
  width: 237px;
  height: 65px;
  border-radius: 50px;
}

.img_karucel {
  width: 326px;
  height: 421px;
}

.p3 {
  font-family: "Lato";
  font-size: 24px;
  color: rgb(0, 168, 144);
}

.star_position {
  display: flex;
}

.star_size {
  width: 13px;
  height: 13px;
  margin-right: 6px;
}

.karucel {
  display: flex;
  gap: 30px;
  overflow: hidden;
  margin-top: 50px;
}

.button_mini {
  border-radius: 8px;
  margin-left: 10px;
}

.button_3position {
  position: relative;
  left: 1000px;
  bottom: 65px;
}

.karucel:first-child {
  transition: all 0.5s;
}

.karucel:last-child {
  transition: all 0.5s;
}

.a {
  transition: all 0.5s;
}

.menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 100px;
}

.positeon_text_section3 {
  text-align: center;
}

.card2_position {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  margin-top: 150px;
  gap: 280px;
  overflow: hidden;
}

.card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 320px;
  height: 352px;
  background-color: white;
  border-radius: 8px;
  transition: all 0.6s;
  margin-top: 180px;
  position: relative;
}

.card2:nth-child(2) {
  background-color: rgb(0, 168, 144);
  width: 568px;
  height: 598px;
  color: white;
  margin-top: 0;
  box-shadow: 0px 30px 30px 30px rgba(16, 17, 18, 0.6);
  position: absolute;
  z-index: 1;
}

.img_girl {
  height: 23%;
  width: 25%;
}

.a_read_more {
  color: black;
  font-size: 20px;
  font-family: "Lato";
  font-style: normal;
}

h4 {
  font-size: 24px;
  font-family: "Lato";
  font-weight: 400;
}

#button_position4 {
  position: absolute;
}

#button_position4_2 {
  position: absolute;
  right: 100px;
}

.blog_card_position {
  margin-top: 100px;
  display: flex;
  flex-direction: rov;
  gap: 60px;
}

.blog_data {
  margin-top: 20px;
}

.connection_blog {
  width: 100%;
  background-image: url(./image/Rectangle30.png);
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.connection_blog:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.connectposition {
  position: relative;
  z-index: 1;
  padding-left: 92px;
  padding-top: 30px;
  padding-bottom: 70px;
}

.connection {
  height: 74px;
  width: 712px;
  border-radius: 40px;
  background-color: #f0f0f0;
  font-family: "Lato";
  font-size: 20px;
  color: black;
  text-align: center;
}

.connectionbuttom {
  height: 74px;
  width: 182px;
  border-radius: 40px;
  background-color: rgb(0, 168, 144);
  font-family: "Lato";
  font-size: 24px;
  color: aliceblue;
  margin-left: 80px;
}

.formposition {
  margin-top: 60px;
}

.footersection {
  background-color: rgb(0, 168, 144);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.positionrectangle {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.vector {
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.diversfood {
  font-family: "Lato";
  color: aliceblue;
  font-size: 48px;
  margin-bottom: 0;
}

.p4 {
  font-family: "Lato";
  font-size: 24px;
  color: aliceblue;
}

.p4position {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 50px;
}/*# sourceMappingURL=site1.css.map */